MetaModelECOA/SOFTARC/Assembly.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.ecoa.technology/Assembly/3.0"
targetNamespace="http://www.ecoa.technology/Assembly/3.0"
elementFormDefault="qualified" >

    <xsd:redefine schemaLocation="../Assembly.xsd">

    <xsd:complexType name="AS_event_link">
        <xsd:complexContent>
            <xsd:extension base="AS_event_link">
                 <xsd:attribute name="notifiedData" type="xsd:unsignedInt" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            </xsd:extension>
            </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType abstract="false" name="AS_op_ref_client">
      <xsd:annotation>
        <xsd:documentation>
        Redefine type AS_op_ref_client to add "in_channel" and "out_channel" attributes
        (used for external service operations only).
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
        <xsd:extension base="AS_op_ref_client">
        <xsd:attribute name="in_channel" type="Name" use="optional">
          <xsd:annotation>
            <xsd:documentation>
            Name of external input channel associated to this servicelink, 
            as computed by GenTechnicalAssembly (used for external service operations only).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="out_channel" type="Name" use="optional">
          <xsd:annotation>
            <xsd:documentation>
            Name of external output channel associated to this servicelink, 
            as computed by GenTechnicalAssembly (used for external service operations only).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

</xsd:redefine>

</xsd:schema>
