MetaModelECOA/SOFTARC/Deployment.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.ecoa.technology/Deployment/3.0"
  targetNamespace="http://www.ecoa.technology/Deployment/3.0"
  elementFormDefault="qualified">

  <xsd:redefine schemaLocation="../Deployment.xsd">


    <xsd:complexType name="IO_interface">
      <xsd:complexContent>
        <xsd:extension base="IO_interface">
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0"
              name="all_operations" type="CT_empty">
              <xsd:annotation>
                <xsd:documentation>
Adds all the operations defined in the component type, identified
by ids starting from 1 in the order of their declaration.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IO_interface_in">
      <xsd:complexContent>
        <xsd:extension base="IO_interface_in">
        <xsd:attribute name="nbProducers" type="xsd:positiveInteger" default="4">
            <xsd:annotation>
                <xsd:documentation>
Maximum number of independent producers that may send messages to this interface.
If this value is too low communication errors may be occur.
</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

  </xsd:redefine>

  <xsd:complexType name="CT_empty">
  </xsd:complexType>

</xsd:schema>
